.bg-perso{
        background-color: #faf9f9;
        border-top: 0.1px solid grey;
    }
    .min-width{
        min-width: 100vw;
    }
    .marginBot{
        margin-bottom: 0px !important;
        padding-bottom: 25px;
    }