.text-decoNone{
    text-decoration: none !important;
}
.containerStep{
    margin: 0px !important; 
    min-width: 100% !important; 
    padding: 0px !important;
}

.heightPerso{
    height: 100%;
}

.parallax {
  background-image: url("../../assets/Background.jpg");
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ContactUsParallax{
  background-image: url("../../assets/backgroundContactUs.jpg");
  height: 47%;
  margin: 0px !important;
  min-width: 100% !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.taille{
    min-width: 100%;
    min-height: 96vh;
}

.paddingTop75{
    padding-top: 75px;
}
.margin50{
    margin-top:50px !important;
}
.PaddingTop50{
    padding-top: 50px !important;
}